body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* cﾄハ gi盻ｯa ngang */
    align-items: center;
    /* cﾄハ gi盻ｯa d盻皇 */
    background-color: #f0f0f0;
}

.insert-border {
    padding: 200px 400px;
    font-size: 50px;
    background-color: #ffffff;
    color: #333;
    border-radius: 20px;
    transition: border 0.4s ease;

    border: 5px solid transparent;
    /* 沐 ban ﾄ黛ｺｧu khﾃｴng cﾃｳ vi盻］ */
}

.insert-border:hover {
    border: 6px solid #3498db;
    /* 笨 vi盻］ hi盻n ra */
}